.emoji-picker-diversity-picker {
  margin-left: auto;
}

.emoji-picker-emoji-info {
  position: relative;
}

.fluff-toggle-switch {
  padding-left: 0;
  padding-right: 0.35em;

  .action-feedback-alert {
    transform: translateX(-32px);
    border: 1px solid var(--tertiary-low);
    height: auto;
    user-select: none;
    pointer-events: none;
  }

  &__icon {
    position: relative;
    color: var(--primary-high);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0.25em;
    border-radius: 3px;
    vertical-align: middle;
    transition: all 0.3s;
    cursor: pointer;

    &.--checked.d-icon {
      background: var(--tertiary-high);
      color: var(--secondary);
    }

    &:hover {
      background: var(--d-hover);
    }
  }
}
