@keyframes f-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes f-pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes f-bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-35%);
  }
}

@keyframes f-wobble {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-45deg);
  }
}

@keyframes f-float {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-3%, -10%);
  }
  25% {
    transform: translate(3%, -20%);
  }
  37.5% {
    transform: translate(-3%, -30%);
  }
  50% {
    transform: translate(0, -35%);
  }
  62.5% {
    transform: translate(3%, -30%);
  }
  75% {
    transform: translate(-3%, -20%);
  }
  87.5% {
    transform: translate(3%, -10%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes f-slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes f-hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes f-fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.btn-fluff-container {
  padding: 0.65em 0.65em;

  &:hover {
    background: var(--tertiary-low) !important;
    border-radius: 3px;
  }

  &:focus:focus-visible {
    background: transparent;
  }
}

.fluff {
  display: inline-flex;
  vertical-align: text-bottom;
  position: relative;
  user-select: none;
}

.fluff-- {
  &flip {
    &,
    img {
      transform: scaleX(-1);
    }
  }

  &flip_v {
    &,
    img {
      transform: scaleY(-1);
    }
  }

  &spin {
    &,
    img {
      animation: f-spin 2s linear infinite;
    }
  }

  &pulse {
    &,
    img {
      animation: f-pulse 1s infinite alternate ease-in-out;
    }
  }

  &bounce {
    &,
    img {
      animation: f-bounce 0.4s infinite alternate cubic-bezier(0, 0, 0.5, 1);
    }
  }

  &wobble {
    &,
    img {
      animation: f-wobble 0.8s infinite alternate-reverse ease-in-out;
    }
  }

  &float {
    &,
    img {
      animation: f-float 5s infinite linear;
    }
  }

  &slide {
    overflow: hidden;
    &,
    img {
      animation: f-slide 2s infinite linear;
    }
  }

  &fade {
    &,
    img {
      animation: f-fade 2s infinite alternate ease-in;
    }
  }

  &invert {
    &,
    img {
      filter: invert(1);
    }
  }

  &hue {
    &,
    img {
      animation: f-hue 3s infinite;
    }
  }

  &greyscale {
    &,
    img {
      filter: grayscale(100%);
    }
  }
}
