[data-identifier="fluff-selector-dropdown"] {
  max-width: 100% !important;

  .fk-d-tooltip__inner-content > div {
    display: grid;
    grid-template-columns: repeat(var(--fluff-selector-columns, 3), 1fr);

    .btn-fluff {
      user-select: none;

      @include hover {
        background: none !important;
        border-color: rgba(0, 0, 0, 0) !important;
        transform: scale(1.2);
      }

      &:focus:focus-visible {
        background: transparent;
      }

      &.-selected {
        outline: 2px solid var(--d-selected);
        outline-offset: -3px;
      }
    }
  }
}
