@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-7px);
  }
}

@keyframes wobble {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-45deg);
  }
}

.flip {
  transform: scaleX(-1);
}

.flip-v {
  transform: scaleY(-1);
}

.spin {
  animation: spin 2s linear infinite;
}

.pulse {
  animation: pulse 1s infinite alternate ease-in-out;
}

.bounce {
  animation: bounce 0.4s infinite alternate-reverse cubic-bezier(0, 0, 0.5, 1);
}

.wobble {
  animation: wobble 0.8s infinite alternate-reverse ease-in-out;
}

.emoji-fluff-wrapper {
  display: inline-flex;
  vertical-align: text-bottom;
}

.autocomplete.with-fluff {
  .fluff-selector-wrapper {
    &:first-of-type a {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:last-of-type a {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .fluff {
      @include hover {
        background-color: var(--d-hover);
        text-decoration: none;
      }
    }
  }

  ul {
    li {
      display: flex;

      a {
        flex: 1;
      }

      a.selected:not(:hover) ~ div {
        background-color: var(--d-selected);
      }

      @include hover {
        background-color: var(--d-hover);
        text-decoration: none;
      }

      &:first-of-type a {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }

      &:last-of-type a {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
  }
}

.btn-fluff-selector .fluff-selected {
  position: absolute;
  font-size: var(--font-down-6);
  color: var(--tertiary-med-or-tertiary);
  bottom: 3em;
  right: 1em;
}

[data-identifier="fluff-selector-dropdown"] {
  max-width: 100% !important;

  .fk-d-tooltip__inner-content > div {
    display: grid;
    grid-template-columns: repeat(var(--fluff-selector-columns, 3), 1fr);

    .btn-fluff {
      @include hover {
        background: none !important;
        border-color: rgba(0, 0, 0, 0) !important;
        transform: scale(1.2);
      }

      &.-selected {
        outline: 2px solid var(--d-selected);
        outline-offset: -3px;
      }
    }
  }
}

.simple-toggle-switch {
  .emoji-picker-footer & {
    padding-right: 0.5em;
  }

  &__icon {
    position: relative;

    color: var(--primary-high);

    padding: 0.45em;
    border-radius: 50%;
    vertical-align: middle;

    transition: all 0.3s;

    cursor: pointer;

    &:hover {
      background: var(--d-hover);
    }

    &.--checked {
      color: var(--secondary);
      background: var(--tertiary-high);
      outline: 2px solid
        color-mix(in srgb, var(--tertiary-medium), transparent 50%);
    }
  }
}
